
.banner{
    background-color: #495e57;
    width: 100%;
    height: 300px;
}
.banner img{
    height: 350px;
    margin-top: 50px;
    border-radius: 10px;
}
div h1{
    color: #f3ce15;
}
div p{
    color: white;
}
div button{
    color: white;
}