
.footer{
    height: 200px;
    background-color: #c0d5ce;
    margin-top: 100px;
}
.footer img{
    width: 50px;
}
.footer-first{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.footer-second{
    display: flex;
    justify-content: end;
    padding: 20px;
}
.footer-first p{
    padding-left: 15px;
    padding-top: 30px;
    color: black;
}